// Colors
$title-color: orange;

* {
  transition: all 0.5s ease;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  transition: opacity 500ms ease-in;
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.Home {
  h2 {
    color: white;
    background-color: $title-color;
  }

  li {
    list-style-type: disc;

    button {
      outline: none;
      margin: 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      color: white;
    }
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  align-items: start;
  fieldset {
    place-self: center stretch ;
    border: none;
    background-color: white;
    border-radius: 6px;
    input, button {
      margin-right: 0px;
    }
  }

  h3 {
    color: $title-color;
    margin-top: 5px;
  }

  input {
    outline: none;
  }
}