// Colors
$title-color: var(--orange);

* {
  transition: all 0.5s ease;
}

.home {
  h2 {
    color: white;
    background-color: $title-color;
  }

  li {
    list-style-type: disc;

    button {
      outline: none;
      margin: 0;
    }

  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  align-items: start;
  fieldset {
    place-self: center stretch ;
    border: none;
    background-color: white;
    border-radius: 6px;
    input, button {
      margin-right: 0px;
    }
  }

  h3 {
    color: $title-color;
    margin-top: 5px;
  }

  input {
    outline: none;
  }
}