// Colors
$title-color: orange;

.Home {
  h2 {
    color: $title-color;
  }

  li {
    list-style-type: disc;

    button {
      outline: none;
      margin: 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}

form {
  h3 {
    color: $title-color;
    margin-top: 5px;
  }

  input {
    outline: none;
  }
}